html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

.header-text {
	text-align: center;
}

.container {
	position: relative;
	padding-bottom: 20%;
	width: 660px;
	max-width: 100%;
	display: block;
	margin: auto;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
	width: 660px;
	max-width: 100%;
	height: 660px;
	max-height: 100%;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;
}

.hide {
	display: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: left;
	width: 630px;
	margin: 0 0 10px 10px;
	max-width: 100%;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
	margin-right: 10px;
}

/*
 * Styles for the Game Modal
 */

.modal-background {
	background: #0008;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.modal-content {
	background: #fff;
	left: 50%;
	top: 50%;
	position: relative;
	transform: translate(-50%, -70%);
	width: 75vmin;
}

.modal-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 4vmin;
}

.modal-header-text {
	margin: auto;
}

.modal-result {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 4vmin 4vmin 0;
}

.modal-result-text {
	margin: auto;
}

.modal-stats {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 4vmin;
}

.modal-stat {
	margin: 1vmin;
}

.modal-buttons {
	display: flex;
	justify-content: space-around;
	padding: 0 4vmin 4vmin;
}

.modal-button-replay {
	height: 40px;
	width: 100px;
}

/*
 * breakpoints
 */

 #deck {
	padding: 32px;
}

@media screen and (min-width: 200px) and (max-width: 370px) {
	.modal-header-text {
		font-size: 1rem;
	}
	.modal-result-text,
	.modal-stat {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 260px) {
	#deck {
		padding: 8px;
	}
	.deck {
		height: 220px;
	}
	.deck .card {
		height: 50px;
		width: 50px;
	}
}

@media screen and (min-width: 260px) and (max-width: 340px) {
	#deck {
		padding: 14px;
	}
	.deck {
		height: 280px;
	}
	.deck .card {
		height: 60px;
		width: 60px;
	}
	.modal-header-text {
		font-size: 1rem;
	}
}

@media screen and (min-width: 340px) and (max-width: 400px) {
	#deck {
		padding: 18px;
	}
	.deck {
		height: 360px;
	}
	.deck .card {
		height: 70px;
		width: 70px;
	}
	.modal-header-text {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 400px) and (max-width: 480px) {
	#deck {
		padding: 22px;
	}
	.deck {
		height: 440px;
	}
	.deck .card {
		height: 80px;
		width: 80px;
	}
	.modal-header-text {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 480px) and (max-width: 560px) {
	#deck {
		padding: 24px;
	}
	.deck {
		height: 520px;
		padding: 0;
	}
	.deck .card {
		height: 100px;
		width: 100px;
	}
}

@media screen and (min-width: 560px) and (max-width: 640px) {
	#deck {
		padding: 28px;
	}
	.deck {
		height: 600px;
	}
	.deck .card {
		height: 115px;
		width: 115px;
	}
}
